1. What are data structures, and why are they important ?

Ans. Data structures are ways to organize and store data in a computer so that it can be used efficiently. They help us manage large amounts of data and make it easier to perform tasks like searching, sorting, and updating data.

2. Explain the difference between mutable and immutable data types with examples

Ans. Mutable data types can be changed after they are created. Example: list, dictionary, set.

Immutable data types cannot be changed after they are created. Example: string, tuple, int.

In [ ]:
# Mutable
my_list = [1, 2, 3]
my_list[0] = 10

# Immutable
my_string = "hello"
# my_string[0] = "H"

3. What are the main differences between lists and tuples in Python ?

Ans. Lists are mutable where as Tuples are immutable.

Lists use [] and tuples use ().

4. Describe how dictionaries store data.

Ans. Dictionaries store data in key-value pairs. Each key is unique and points to a value.

student = {"name": "Alice", "age": 20}

5. Why might you use a set instead of a list in Python?

Ans.You might use a set when you want to store unique items only and don’t care about the order. Sets automatically remove duplicate data.

6. What is a string in Python, and how is it different from a list?

Ans.A string is a sequence of characters, like "hello". A list is a collection of items that can be of different types. Strings are immutable, but lists are mutable.

my_string = "hello"
my_list = ['h', 'e', 'l', 'l', 'o']

7. How do tuples ensure data integrity in Python?

Ans.Tuples are immutable, which means their values cannot be changed. This makes sure the data stays the same, after execution.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans. A hash table is a data structure that stores data using a key and a hash function. Python dictionaries use a hash table behind the scenes to quickly find and store data using keys.

9. Can lists contain different data types in Python?

Ans.Yes, lists can store items of different types.

sample = [1, "hello", True, 3.14, 3+4j]

10. Explain why strings are immutable in Python

Ans.Strings are immutable to keep them safe from unwanted changes. If you need a different string, you create a new one instead of changing the old one.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans.Dictionaries are better when you need to look up values quickly using a key. Lists are slower for searching because you have to check each item one by one through indexing.

12. Describe a scenario where using a tuple would be preferable over a list

Ans.Use a tuple when you want to make sure the data doesn’t change.

13. How do sets handle duplicate values in Python?

Ans.Sets automatically remove duplicate datas from set of data in it. If you add the same item more than once, it will only keep one.

14. How does the "in" keyword work differently for lists and dictionaries?

Ans.In lists, "in" checks if a value is present.
my_list = [1, 2, 3]
print(2 in my_list)

In dictionaries, "in" checks if a key is present.
my_dict = {"a": 1}
print("a" in my_dict)

In both the cases it will return True.

15. Can you modify the elements of a tuple? Explain why or why not.

Ans. No, we cannot. Tuples are immutable, which means you cannot change, add, or remove elements after creation.

16. What is a nested dictionary, and give an example of its use case?

Ans. A nested dictionary is a dictionary inside another dictionary. It's useful for storing complex data, like info about students.

students = {
  "Aman": {"age": 20, "grade": "A"},
  "Ram": {"age": 21, "grade": "B"}
}

17. Describe the time complexity of accessing elements in a dictionary.

Ans. Accessing elements in a dictionary is very fast than others.

18. In what situations are lists preferred over dictionaries?

Ans. Use lists when:
(A)You only need to store items in order.
(B)You don’t need key-value pairs.
(C)You might have duplicates.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans. Dictionaries didn’t keep the order of items in older versions of Python. Now they do in new verions, but they’re still mainly used for key-based access, not for their order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
Ans. List: Accessed by index , e.g., my_list[0].
Dictionary: Accessed by key, e.g., my_dict["name"].

1. Create a string with your name and print it.

In [ ]:
name = "Prince"
print(name)

Prince

2. Find the length of the string 'Hello World'

In [ ]:
greet = "Hello World"
print(greet)

Hello World

3. Slice the first 3 characters from the string 'Python Programming'

In [ ]:
text = "PWSKILLS Data structure"
print(text[:8])

PWSKILLS

4. Convert the string 'hello' to uppercase

In [ ]:
text = "hello"
print(text.upper())

HELLO

6. Replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6.Create a list with numbers 1 to 5 and print it

In [ ]:
num = [1, 2, 3, 4, 5]
print(num)

[1, 2, 3, 4, 5]

7. Append the number 10 to the list [1, 2, 3, 4]

In [ ]:
num = [1, 2, 3, 4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

8. Remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
num = [1, 2, 3, 4, 5]
num.remove(3)
print(num)

[1, 2, 4, 5]

9. Access the second element in the list ['a','b', 'c', 'd']

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Reverse the list [10, 20, 30, 40, 50]

In [ ]:
num = [10, 20, 30, 40, 50]
num.reverse()
print(num)

[50, 40, 30, 20, 10]

11. Create a tuple with the elements 100, 200, 300 and print it

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
num = (10, 20, 5, 15)
print(min(num))

5

14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Create a tuple with three fruits and check if "kiwi" is in it

In [1]:
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

16. Create a set with the elements 'a', 'b', 'c' and print it

In [2]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

17. Clear all elements from the set (1, 2, 3, 4, 5)

In [3]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. 18. Remove the element 4 from the set (1, 2, 3, 4)

In [4]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Find the union of two sets (1, 2, 3) and (3, 4, 5)

In [5]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Find the intersection of two sets (1, 2, 3) and (2, 3, 4)

In [6]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)
print(intersection)

{2, 3}

21. Create a dictionary with keys "name", "age", and "city", and print it

In [7]:
person = {"name": "Prince", "age": 30, "city": "Kolkata"}
print(person)

{'name': 'Prince', 'age': 30, 'city': 'Kolkata'}

22. 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [8]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [9]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

24. 24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [10]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

25. 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [11]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

26. Create a list, a tuple, and a dictionary, and print them all

In [12]:
list1 = [1, 2, 3]
tuple2 = (4, 5, 6)
dict3 = {'a': 1, 'b': 2}
print(list1)
print(tuple2)
print(dict3)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

27. Create a list of 5 random numbers between 1 and 100, sort it, and print the result

In [13]:
numbers = [37, 12, 89, 5, 64]
numbers.sort()
print("Sorted numbers:", numbers)

Sorted numbers: [5, 12, 37, 64, 89]

28. Create a list with strings and print the element at the third index

In [14]:
words = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(words[3])

date

29. Combine two dictionaries into one and print the result

In [16]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
comb = {**dict1, **dict2}
print(comb)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Convert a list of strings into a set

In [17]:
words = ['apple', 'banana', 'apple', 'cherry']
words_set = set(words)
print(words_set)

{'cherry', 'apple', 'banana'}